<!DOCTYPE html>
<html>
<head>
  <title>WorkPlz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<script src="//use.edgefonts.net/josefin-slab:n3,i3,n6,i6:all.js"></script>

<body>
	<p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
